

body{margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
section {
    display: flex;
/*    background-image: url("img/top-banner.png");*/
}
#top-bennar{
    background-image: url("img/top-banner.png");
	background-repeat: no-repeat;
}
.row-colm {
    width: 50%;
    padding-left: 75px;
}
.colm-row {
    width: 50%;
    padding-right: 75px;
    float: left;
}

    .colm-row img {
        width: 100%;
        margin-top: -23px;
    }
h1.wlc {
    font-size: 50px;
}

span.wlc {
    font-size: 50px;
    color: orange;
}
h3 {
    font-size: 18px;
}

p {
    color: dimgrey;
    text-align: left;
}

a.link-icon {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background: #F88366;
    color: white;
    border-radius: 4px;
    padding: 7px;
    padding-left: 20px;
	
    padding-right: 20px;
}
#body-bennar {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
	background-position: right;
}

#arifvai {
	display: flex;
	background-image: url(img/exp-bg.png);
	background-repeat: no-repeat;
	background-position: left;
	
	
}
.content-color{
 color: #FFA500;
}

.developer{
	width: 35%;
	float: left;
	background-color: #FFFFFF;
	  box-shadow: -3px 11px 34px -5px #888888;
	padding-left: 10px;
	margin-right: 20px;
	border-left: 5px solid #007BFF;

}



.continer2 {
    margin-top: 63px;
}


.developer2 {
    width: 35%;
    float: left;
    box-shadow: -3px 11px 34px -5px #888888;
    background-color: #FFFFFF;
	padding-left: 10px;
	    margin-right: 140px;
	border-left: 5px solid #FF8D6A;
/*	margin-right: 5px;*/
	
}


footer#footer-reppar p {
    text-align: center;
    margin-top: 150px;
}













